/* напр. src/styles/flow-touch.css, и импортируй рядом со страницей */
.react-flow.touch-flow .react-flow__handle {
  width: 20px;
  height: 20px;
  border: 2px solid var(--xy-handle-border-color-default, #aaa);
}

.touch-flow .react-flow__handle-right { --translate: translate(50%, -50%); }
.touch-flow .react-flow__handle-left  { --translate: translate(-50%, -50%); }

@keyframes bounce {
  0%   { transform: var(--translate) scale(1); }
  50%  { transform: var(--translate) scale(1.1); }
  100% { transform: var(--translate) scale(1); }
}
.react-flow.touch-flow .react-flow__handle.clickconnecting {
  animation: bounce 1600ms infinite ease-in;
}


/* под тач-режим, перекрываем debug-стили с !important */
.rf-scope .react-flow.touch-flow .react-flow__handle {
  width: 20px !important;
  height: 20px !important;
  border: 2px solid var(--xy-handle-border-color-default, #aaa) !important;
}

.touch-flow .react-flow__handle-right { --translate: translate(50%, -50%); }
.touch-flow .react-flow__handle-left  { --translate: translate(-50%, -50%); }

@keyframes bounce {
  0%   { transform: var(--translate) scale(1); }
  50%  { transform: var(--translate) scale(1.1); }
  100% { transform: var(--translate) scale(1); }
}
.react-flow.touch-flow .react-flow__handle.clickconnecting {
  animation: bounce 1600ms infinite ease-in;
}


/* Анимация пунктирных рёбер при props.animated = true */
.react-flow__edge.animated .react-flow__edge-path {
  animation: dashdraw 1.2s linear infinite;
}

@keyframes dashdraw {
  to {
    stroke-dashoffset: -12;
  }
}

